main { overflow:hidden; }

main #stick {
	/*left: auto !important;*/
	background: #ec008c;
	color: #fff;
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;
	transition: none;
}

/* !important because it's a crappy demo and I cannot
   be bothered to fix current specificity issues */
main .sticky { position: fixed !important; }
main .bottom { position: absolute !important; bottom: 0; }
main .normal { position: absolute !important; }

main #stick code { display: none; }
.normal .normalCSS { display:block !important; }
.sticky .stickyCSS { display:block !important; }
.bottom .bottomCSS { display:block !important; }





main dd {
	margin-bottom: 2em;
	display: block;
}

main dt {
	margin-top: 5em;
}


.demo {
	padding: 3em;
	border: 1px solid #ddd;
}

.spacer,
p { margin-bottom:1em; clear:both; }


/* STICKY
---------------*/

.stick-spacer {
	padding-bottom: 420px;
	background-color: #fff;
}

#stick {
	height: 120px;
	padding: 1em;
	border: 1px solid #333;
	transition: all 0.2s;
	display: block;
}


/* IMAGE SEQUENCE
---------------*/

#sequence {
	width: 320px;
	height: 303px;
	border: 3px solid #000;
	margin-bottom: 2em;
}

#sequence img {
	opacity: 0;
	position: absolute;
	/*top: 0;*/
	transition: opacity 0.2s;
}


/* PARALLAX
---------------*/

.item { position:absolute; z-index:-1; opacity:0.5; background:#ccc; width:40px; height:40px; line-height:40px; border-radius:20px; text-align: center;  }
.item:nth-child(1) { top:0%; left:10% }
.item:nth-child(2) { top:0%; left:30% }
.item:nth-child(3) { top:0%; left:50% }
.item:nth-child(4) { top:0%; left:70% }
.item:nth-child(5) { top:0%; left:90% }

p.parallax { color: #ddd; z-index:-1 }

.clip {
	padding-bottom: 56.25%;
	position: relative;
	overflow:hidden;
	margin-bottom: 2em;
	background-color: #ccc;
}

#parallax {
	position: absolute;
	background-image: url("images/pastoral.jpg");
	background-position: 50% 50%;
	background-size: cover;
	top: -250px;
	width: 100%;
	height: calc(100% + 250px);
}

#parallax-2 {
	position: absolute;
	background-image: url("images/pasture.jpg");
	background-position: 50% 50%;
	background-size: cover;
	bottom: -250px;
	width: 100%;
	height: calc(100% + 250px);
}

/* CSS TOGGLE
---------------*/

.transition {
	transition: all 0.2s;
	padding: 1em;
}

.red {
	color: red;
	transform: translateX(30px);
}

.blue {
	color: blue;
	transform: rotate(10deg);
}

.green {
	color: green;
	border: 1px solid green;
	transform: scale(1.3);
}

.red.blue {
	background: rgba(255, 0, 255, 0.3);
}
